.breadcrumb-container > ol {
  margin-bottom: 0px;
}

.breadcrumb-extended {
  display: inline-flex;
  align-items: center;
}

.breadcrumb-extended button {
  padding: 0 8px 0 0;
}

.breadcrumb-extended svg {
  display: flex;
  color: var(--text-grey-1)
}

.breadcrumb-extended svg:hover {
  display: flex;
  color: var(--text-white-1)
}

