.custom-pill {
  width: fit-content;
  font-size: 11px !important;
  font-weight: lighter;
  max-height: 18px;
}

.complete-background {
  background-color: var(--lochinvar);
}

.new-background {
  background-color: var(--tropaz);
}

.digital-background {
  background-color: var(--kumera);
}

.finished-background {
  background-color: var(--finished-badge-background);
}

.backlog-background {
  background-color: var(--backlog-badge-background);
}

.playing-background {
  background-color: var(--playing-badge-background);
}