.container {
  padding-top: 1rem;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}
.table {
  table-layout: fixed;
  width: 100%;
  color: var(--text-white-2);
}

.table th {
  color: var(--text-clear-blue-2);
}
.table td {
  color: var(--text-white-2);
}

.width15 {
  width: 15%
}

.width20 {
  width: 20%
}

.width25 {
  width: 25%
}

.table-buttons-container {
  text-align: right;
}

.table-buttons-container button:first-of-type {
  margin-right: 5px;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}