.container {
  padding-top: 1rem;
}

.grey-text {
  color: var(--text-grey-1);
}

.mainDashboardContainer {
  height: auto;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.custom-col {
  margin-bottom: 16px;
}



.logo-img {
  height: 45px;
}

.brand-text {
  font-size: 40px
}

.title-container {
  display: flex;
  align-items: center;
}

/* BRAND CARD*/
.brand-card {
  min-height: 80px;
  width: 100%;
  /* border: none; */
  
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.brand-main-container:hover {
  background-color: var(--elephant);
}

.brand-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: var(--dark-background);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(8 11 13 / 50%);
}

.brand-text {
  color: var(--text-white-2);
  font-size: 30px;
  font-weight: 600;
}

.card-text p {
  color: var(--text-grey-2);
  margin: 0 0 6px 0;
}


@media (max-width: 768px) {
  .brand-text {
    font-size: 25px;
  }

  .card {
  min-height: 70px;
}
}