.container {
  padding-top: 1rem;
}

.mainDashboardContainer {
  height: auto;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.custom-col {
  margin-bottom: 16px;
}

.card {
  min-height: 80px;
}

.card-body {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.logo-img {
  height: 45px;
}

.brand-text {
  font-size: 40px
}