.bg-dark {
  background-color: var(--main-dark-1);
}

.circle {
  display: inline-block;
    background-color: #0fa3c2d6;
    border-radius: 50%;
}

.circle-inner {
  color: white;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
  height: 35px;
  width: 35px;  
  font-size: 18px;
}

.user-drop-down a::after {
  content: none;
}

.user-drop-down > div {
  left: -75px !important;
  width: 180px;
}

.user-drop-down .userSigned,
.user-signed-mobile  {
  padding: 8px;
  display: block;
  color: var(--text-white-1)
  
}

.user-drop-down .userSigned .label-container,
.user-signed-mobile .label-container {
  padding: 8px;
  display: inline-block;
}

.user-drop-down .userSigned .signed-label,
.user-signed-mobile .signed-label {
  font-size: 11px;
  display:block;
}

.user-drop-down > a:first-of-type {
  padding: 0;
}

.logo-container {
  margin: 0;
}

.logo-container span {
  margin-left: 6px;
}

.user-signed-mobile {
  background-color: var(--dropdown-options-background);
  border-radius: 8px;
}


@media (max-width: 992px) {
  .user-drop-down > div {
    width: auto;
  }
  .divider {
    border-bottom: 1px solid var(--text-grey-3);
    margin: 30px 0;
  }
  .user-drop-down > a:last-of-type {
    margin-bottom: 10px;
  }
}