.container {
    padding-top: 1rem;
  }
  
  .mainDashboardContainer {
    height: auto;
  }
  
  .header {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .custom-col {
    margin-bottom: 16px;
  }
  
  .card {
    min-height: 80px;
  }
  
  .cardBody {
    display: flex;
    justify-content: space-between;
  }
  
  .logo-img {
    height: 45px;
  }
  
  .brand-text {
    font-size: 40px
  }

  /* Options classes */
  .options-container {
    padding: 10px 0;
  }

  .letters-container {
    display: flex;
    justify-content: space-around;
  }

  .custom-nav-link {
    padding: 0.5rem 2px !important;
  }

  .custom-nav-link-active {
    padding: 0.5rem 4px !important;
    background-color: black !important;
    border-color: darkgrey !important;
    font-weight: 900 !important;
    color: rgb(53, 234, 234) !important;
  }

  .options-buttons > label, 
  .options-buttons > label:hover, 
  .options-buttons > label:active {
    border-color: #bf67e0 !important;
    color: #bf67e0 !important;
  }
  

  input:checked + .toggle-button {
    border-color: #bf67e0 !important;
    background-color: #6117ab !important;
    color: white !important;
  }

   /* Forms */
  .custom-container {
    border: 1px solid #9699a8;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .custom-list {
    border: 1px solid #9699a8;
    height: 100%;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
  }

  .badge {
    margin-right: 8px;
  }

  .badge-text {
    margin-right: 6px;
  }

  .badge-button {
    cursor: pointer;
    font-size: medium;
  }

  /*  table list  */
.table {
  width: 100%;
  table-layout: fixed;
}

.width10 {
  width: 10%;
}

.width15 {
  width: 15%;
}

.width20 {
  width: 20%;
}

.width35 {
  width: 35%;
}


  .table-buttons-container {
    text-align: right;
  }
  
  .table-buttons-container button {
    margin-right: 5px;
  }

  .table-buttons-container button:last-of-type {
    margin-right: 0;
  }

  .text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .custom-modal-body {
    padding: 0 !important;
  }

  .games-header > * {
    margin: 0;
  }

  .games-header h6 {
    color: #7a7f7f;
    font-style: italic;
    font-weight: 700;
  }

/***************************************************/
/* VIEW DETAILS                                    */
/***************************************************/

.data-row {
  margin-bottom: 10px;
  font-weight: bold;
}

.data-label {
  color: lightgrey;
  margin-right: 16px;
}

.data-text {
  color: #05112c;
}
