.container {
  padding-top: 1rem;
}

.mainDashboardContainer {
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.custom-col {
  margin-bottom: 16px;
}

.card {
  min-height: 80px;
}

.cardBody {
  display: flex;
  justify-content: space-between;
}

.logo-img {
  height: 45px;
}

.brand-text {
  font-size: 40px
}

/***************************************************/
/* OPTIONS CLASSES                                    */
/***************************************************/
.options-container {
  padding: 10px 0;
}

.letters-container {
  display: flex;
  justify-content: space-around;
}

.custom-nav-link {
  padding: 0.5rem 2px !important;
}

.custom-nav-link-active {
  padding: 0.5rem 4px !important;
  background-color: var(--main-dark-background) !important;
  border-color: var(--secondary-button) !important;
  font-weight: 900 !important;
  color: var(--secondary-button) !important;
}

.options-buttons > label, 
.options-buttons > label:hover, 
.options-buttons > label:active {
  border-color: var(--secondary-button) !important;
  color: var(--secondary-button) !important;
}


input:checked + .toggle-button {
  border-color: var(--main-button) !important;
  background-color: var(--secondary-button) !important;
  color: var(--text-white-1) !important;
}

/***************************************************/
/* FORMS                                   */
/***************************************************/
.custom-container {
  border: 1px solid var(--text-grey-3);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.custom-list {
  border: 1px solid var(--control-border);
  height: 100%;
  border-radius: 5px;
  background-color: var(--control-background);
  padding: 10px;
  min-height: 50px;
}

.badge {
  margin-right: 8px;
}

.badge-text {
  margin-right: 6px;
}

.badge-button {
  cursor: pointer;
  font-size: medium;
}


.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-modal-body {
  padding: 0 !important;
}

.games-header > * {
  margin: 0;
}

.games-header h6 {
  color: var(--text-grey-2);
  font-style: italic;
  font-weight: 700;
}

.danger-link:hover {
  background-color: var(--falu-red) !important;
  color: var(--text-white-1) !important;
}

.clear-row {
  background-color: #17252f;
}


/***************************************************/
/* LETTERS DROPDOWN                                   */
/***************************************************/
.letters-dropdown-container {
  display:flex;
}

.letters-dropdown-container label {
  margin-right: 10px;
  align-self: center;
}

.letters-dropdown button,
.letters-dropdown button:hover,
.letters-dropdown button:active,
.letters-dropdown button:focus {
  background-color: var(--dark-background) !important;
  border-color: var(--text-grey-3) !important;
  font-weight: 900 !important;
  color: var(--picton-blue) !important;
  width: 50px;
}

.letters-dropdown button::after {
  margin-left: 10px;
}

.letters-dropdown > div:first-of-type{
  max-height: 250px;
  overflow-y: scroll;
}

/***************************************************/
/* BADGES                                         */
/***************************************************/
.custom-badge {
  line-height: 0;
}

.header-container {
display: flex;
}

/***************************************************/
/* GAME LIST ITEM                                   */
/***************************************************/

.game-items-list {
  padding: 0 8px;

}

.game-item-container {
  list-style: none;
}

.game-item-row {
  background-color: var(--dark-background);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 8px rgb(8 11 13 / 50%);
}

.game-item-row:hover {
  background-color: var(--hover-card);
}



.game-item-container h1 {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgb(14 109 121), rgb(17 108 124), rgba(56, 2, 155, 0));
  border-image-slice: 1;
  width: 100%;
  color: var(--text-white-1);
}

.game-item-container h3 {
  font-size: 16px;
  color: var(--text-white-2);
  margin-bottom: 0px;
}

.game-item-container p {
  margin: 0;
  font-size: 14px;
  color: var(--text-white-2);
}

.small-column {
  display: flex;
  justify-content: space-between;
}

.badges-column {
    display: flex;
    gap:2px;
    flex-direction: column;
}

.buttons-column {
  width: 40px;
  text-align: end;
}


.options-buttons-container {
  display: flex;
  justify-content: space-between;
}

.note-icon {
  color: var(--text-light-green);
}

.note-icon:hover {
  color: var(--secondary-button);
}

@media (max-width: 768px) {
  .badges-column {
    gap:8px;
    flex-direction: row;
  }

  .buttons-column {
    display: inline-flex;
    gap: 12px;
    align-items: end;
    justify-content: end;
    width:auto;
  }
}
