.container {
  padding-top: 1rem;
}

.mainDashboardContainer {
  height: auto;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.custom-col {
  margin-bottom: 16px;
}

.custom-col:nth-child(odd) {
  padding-left: 0;
}

.custom-col:nth-child(even) {
  padding-right: 0;
}

.card {
  min-height: 80px;
}

.logo-img {
  height: 45px;
}

.brand-text {
  font-size: 40px
}

.card-footer {
  width: 100%;
}

.card-title {
  margin-bottom: 0px;
}

.table-buttons-container button:first-of-type,
.nav-buttons button:first-of-type {
  margin-right: 5px;
}

.nav-buttons {
  margin-top: 8px;
}

.nav-buttons button {
  width: 100%;
}

.consoles-header > * {
  margin: 0;
}

.danger-link:hover {
  background-color: var(--falu-red) !important;
  color: var(--text-white-1) !important;
}

.console-year-label {
  color: var(--text-white-2);
  margin: 0;
  padding: 0;
  font-weight: 400;
}


/***************************************************/
/* CARD                                   */
/***************************************************/

.console-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-background) !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 8px rgb(24 32 37 / 50%);
  /* height: 175px; */
}

.console-title {
  color: var(--text-white-1);
  font-size: 20px;
  font-weight: bold;
}

.console-card p:last-of-type {
  font-size: 16px;
  color: var(--text-white-2);
  margin: 0;
}

.console-name {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.console-type-icon {
  height: 30px;
  width: 30px;
  opacity: 0.7;
}

.sub-labels-container {
  display: flex;
  gap: 50px;
}

/***************************************************/
/* OPTIONS CLASSES                                    */
/***************************************************/
.options-buttons {
  margin-bottom: 16px;
}

.letters-container {
  display: flex;
  justify-content: space-around;
}

.options-buttons > label, 
.options-buttons > label:hover, 
.options-buttons > label:active {
  border-color: var(--light-blue-contrast) !important;
  color: var(--light-blue-contrast) !important;
}


input:checked + .toggle-button {
  border-color: var(--main-button) !important;
  background-color: var(--secondary-button) !important;
  color: var(--text-white-1) !important;
}

@media (max-width: 768px) {
  .brand-text {
    font-size: 25px;
  }

  .console-title {
    font-size: 18px;
  }
}
