.container {
  padding-top: 1rem;
}

.mainDashboardContainer {
  height: auto;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.custom-col {
  margin-bottom: 16px;
}

.card {
  min-height: 80px;
}

.logo-img {
  height: 45px;
}

.brand-text {
  font-size: 40px
}

.card-footer {
  text-align: end;
  align-self: end;
}

.table-buttons-container button:first-of-type,
.nav-buttons button:first-of-type {
  margin-right: 5px;
}

.nav-buttons {
  margin-top: 8px;
}

.consoles-header > * {
  margin: 0;
}

a.danger-link {
  color: var(--falu-red) !important;
}

.danger-link:hover {
  background-color: var(--falu-red) !important;
  color: var(--white) !important;
}

.console-year-label {
  color: var(--regent-grey);
  margin: 0;
  padding: 0;
}

/***************************************************/
/* VIEW DETAILS                                    */
/***************************************************/

.details-container {
  display: flex;
}

.left-labels, .right-labels {
  display: grid;
}

.data-label {
  color: var(--silver-sand);
  margin-right: 16px;
  font-weight: bold;
}

.data-text {
  color: var(--regent-grey);
  font-weight: bold;
}
