.container {
  padding-top: 1rem;
}

.mainDashboardContainer {
  height: auto;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.custom-col {
  margin-bottom: 16px;
}

.card {
  min-height: 80px;
}

.logo-img {
  height: 45px;
}

.brand-text {
  font-size: 40px
}

.card-footer {
  width: 100%;
}

.card-title {
  margin-bottom: 0px;
}

.table-buttons-container button:first-of-type,
.nav-buttons button:first-of-type {
  margin-right: 5px;
}

.nav-buttons {
  margin-top: 8px;
}

.nav-buttons button {
  width: 100%;
}

.consoles-header > * {
  margin: 0;
}

/* a.danger-link {
  color: var(--falu-red) !important;
} */

.danger-link:hover {
  background-color: var(--falu-red) !important;
  color: var(--white) !important;
}

.console-year-label {
  color: var(--white);
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/***************************************************/
/* VIEW DETAILS                                    */
/***************************************************/

.details-container {
  display: flex;
}

.left-labels, .right-labels {
  display: grid;
}

.data-label {
  color: var(--silver-sand);
  margin-right: 16px;
  font-weight: bold;
}

.data-text {
  color: var(--regent-grey);
  font-weight: bold;
}

/***************************************************/
/* CARD                                   */
/***************************************************/

.console-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 16px !important;
  background-color: var(--background-main-dark);
  border-radius: 5px;
  border: 1px solid var(--light-blue-contrast);
  /* height: 175px; */
}

.console-title {
  color: var(--white-1);
  font-size: 20px;
  font-weight: bold;
}

.console-card p:last-of-type {
  font-size: 16px;
  color: var(--white-1);
  margin: 0;
}

.console-name {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.console-type-icon {
  height: 30px;
  width: 30px;
  opacity: 0.7;
}

.sub-labels-container {
  display: flex;
  gap: 50px;
}

/***************************************************/
/* OPTIONS CLASSES                                    */
/***************************************************/
.options-buttons {
  margin-bottom: 16px;
}

.letters-container {
  display: flex;
  justify-content: space-around;
}

.custom-nav-link {
  padding: 0.5rem 2px !important;
}

.custom-nav-link-active {
  padding: 0.5rem 4px !important;
  background-color: var(--black) !important;
  border-color: var(--regent-grey) !important;
  font-weight: 900 !important;
  color: var(--picton-blue) !important;
}

.options-buttons > label, 
.options-buttons > label:hover, 
.options-buttons > label:active {
  border-color: var(--light-blue-contrast) !important;
  color: var(--light-blue-contrast) !important;
}


input:checked + .toggle-button {
  border-color: var(--main-button) !important;
  background-color: var(--secondary-button) !important;
  color: var(--white) !important;
}

@media (max-width: 768px) {
  .brand-text {
    font-size: 25px;
  }

  .console-title {
    font-size: 18px;
  }
}
