.container {
  padding-top: 1rem;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.table-buttons-container {
  text-align: right;
}

.table-buttons-container button:first-of-type {
  margin-right: 5px;
}