/***************************************************/
/* THEME COLORS                                    */
/***************************************************/
:root {
  --black-pearl: #061c32;
  --picton-blue: #35eaea;
  --tuna: #353639;
  --text-grey-3: #7a7f7f;
  --lynch: #5D7389;
  --deep-cove: #06204652;
  --falu-red: #771717;
  --perano: #374563;
  --cancan: #f0bebe;
  --dark-tan: #d10404;
  --elephant: #163c55;
  --main-button: #29698c;
  --main-button-contrast: #215978;
  --secondary-button-contrast: #00bcd4;
  --light-blue-contrast: #1087a0;
  --light-blue-contrast-2: #5ab5c1;
  --modal-header: #1a3c4f;
  --control-background: #1f2d3b; 
  --control-border: #474747;
  --checked-green: #0d9e3a;
  --card-background-1: #0f232f;
  --dropdown-options-background: #004c63;
  --outline-button-background: #1087a02b;
  --backlog-badge-background: #6e8509;
  --playing-badge-background: #b17927;
  --light-green-label: #55e1e0;
  --complete-game: #00C49F;
  --new-game: #0088FE;
  --digital-game: #962bd3;
  --background-main-dark: #0d1c2a; /*#0f1f2e; */
  --dark-background: #182b3c; 
  --main-dark-1: #040f19;
  --secondary-button: #1f818e;
  --complete-game: #03886f;
  --new-game: #204a83;
  --finished-badge-background: #217f08;
  --playing-badge-background: #bf7405;
  --text-light-green: #4f9a9c;
  --hover-option-background: #388a81;
  --hover-card: #1d354b;
  --text-white-2: #C9CED8;
  --text-white-1: #d3d9dc;
  --text-clear-blue-1: #a7c4db;
  --text-clear-blue-2: #6d9bc1;
  --text-grey-2: #69808c;
  --text-grey-1: #9ea8ae;
  --text-green-contrast-1: #55e1e0;
}

/***************************************************/
/* GENERAL STYLES                                  */
/***************************************************/
html, body, #app, #app>div, root {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  padding-top: 56px;
}

h5 {
  font-weight: 200;
  font-size: 1rem;
}

main {
  min-height: calc(100vh - 106px);
  background-color: var(--background-main-dark);
  color: var(--text-white-1);
}

main a,
main a:visited {
  color: var(--secondary-button) !important;
  text-decoration: none !important;
}

main a:hover,
main a:active {
  color: var(--picton-blue) !important;
}

main a svg {
  margin-right: 6px;
}

.table {
  color: var(--text-white-1);
}

th {
  background-color: var(--dark-background) !important;
  color: var(--light-blue-contrast-2);
  letter-spacing: 1px;
}

tbody {
  border-color: var(--tuna);
}

.empty-list-text {
  text-align: center;
  color: var(--text-grey-1);
  padding-top: 30px;
}

.dropdown-menu.show {
  background-color: var(--dropdown-options-background);
  max-height: 250px;
  overflow-y: hidden;
}

.dropdown-item {
  color: var(--text-white-1) !important;
}

.dropdown-item:hover,
.dropdown-item:active {
  color: var(--text-white-1) !important;
  background-color: var(--hover-option-background);
}

.form-label {
  color: var(--text-grey-1)
}

.form-check-input {
  height: 16px;
  width: 16px;
}

.form-check-input:checked {
  background-color: var(--black-pearl);
  border-color: var(--black-pearl);
}

.form-check-inline {
  margin-right: 0.4rem;
}

.tooltip-inner {
  text-align: left!important;
}

.form-control, .form-control:focus,
.form-select, .form-select:focus,
.form-select:disabled,
.form-check-input {
  background-color: var(--control-background);
  border-color: var(--control-border);
  color: var(--text-white-1)
}

.form-check-input:checked {
  background-color: var(--checked-green);
}

.nav-tabs {
  border-color: var(--tuna);
}

.navbar-shadow {
  box-shadow: 0px 6px 5px rgb(3 23 33 / 70%);
  transition: box-shadow 0.3s ease-in-out; 
}

.main-title {
  color: var(--text-white-2);
  font-size: 26px;
}

.main-border-bottom {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgb(14 109 121), rgb(17 108 124), rgba(56, 2, 155, 0));
  border-image-slice: 1;
}

.sub-title-1 {
  color: var(--text-grey-2);
}

.sub-title-2 {
  color: var(--text-clear-blue-1);
}

/***************************************************/
/* CARD STYLES                                     */
/***************************************************/
.card {
  border: none;
}

.card-title {
  display: flex;
  justify-content: space-between;
}


/***************************************************/
/* FORM STYLES                                  */
/***************************************************/
.modal-header, .modal-footer {
  background-color: var(--modal-header);
  color: var(--text-white-1);
  border: none;
}

.modal-body {
  background-color: var(--background-main-dark);
  color: var(--text-white-1);
}

.error-container {
  border: 1px solid var(--dark-tan);
  border-radius: 8px;
  padding: 0.5rem 16px;
  background-color: var(--cancan);
  margin-bottom: 16px;
}

.error-container p {
  padding: 0;
  margin: 0;
  color: var(--dark-tan);
}

/***************************************************/
/* BUTTON STYLES                                  */
/***************************************************/
.btn {
  max-height: 38px;
}
.btn-primary {
  background-color: var(--main-button);
  border-color: var(--main-button);
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--main-button-contrast) !important;
  border-color: var(--main-button-contrast) !important;
}

.btn-outline-primary {
  border-color: var(--secondary-button);
  color: var(--secondary-button);
}

.btn-outline-primary:hover {
  background-color: var(--outline-button-background) !important;
  border-color: var(--light-blue-contrast);
  color: var(--light-blue-contrast);
}

.btn-outline-primary:focus,
.btn-outline-primary:active {
background-color: var(--outline-button-background) !important;
border-color: var(--light-blue-contrast) !important;
  color: var(--light-blue-contrast) !important;
}


.btn-info {
  background-color: var(--secondary-button);
  border-color: var(--secondary-button);
  color: var(--text-white-1);
}

.btn-info:focus,
.btn-info:hover,
.btn-info:active {
  background-color: var(--secondary-button-contrast) !important;
  border-color: var(--secondary-button-contrast)  !important;
  color: var(--text-white-1) !important;
}

.btn:disabled {
  background-color: var(--text-grey-1);
  border-color: var(--text-grey-1);
}

.bg-secondary {
  background-color: var(--secondary-button) !important;
}

.results-text {
  font-size: 14px;
  text-align: end;
  color: var(--text-grey-1);
}

.lh-18 {
  line-height: 18px !important;
}

/***************************************************/
/* GLOBAL SPINNER                   */
/***************************************************/

.global-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3 23 38 / 60%); 
  z-index: 1050;
}

.spinner-border {
  border-color: var(--secondary-button-contrast);
  border-right-color: transparent;
}

/***************************************************/
/* MOBILE BADGES                 */
/***************************************************/
.mobile-badges {
  display: flex;
  justify-content: space-between;
}

/***************************************************/
/* MEDIA QUERIES FOR SM AND XS                     */
/***************************************************/
@media (max-width: 768px) {
  main {
    height: 100%;
  }

  h2 {
    font-size: 20px;
  }

  .row>*:not(:where(.col)) {
    padding: 0;
  }

  .form-row {
    padding: 0 calc(var(--bs-gutter-x) * .5);
  }

  .card-body-console {
    display:block;
  }

  .card-body-console footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-title {
    font-size: 22px;
  }
}


