/***************************************************/
/* THEME COLORS                                    */
/***************************************************/
:root {
  --portage: #97a4eb;
  --moody-blue: #7785d2;
  --medium-purple: #844bec;
  --daisy-bush: #52278a;
  --shark: #252529;
  --black-pearl: #061c32;
  --picton-blue: #35eaea;
  --teal: #008080;
  --st-tropaz: #27489230;
  --tuna: #353639;
  --sirocco: #7a7f7f;
  --edward: #a2a9a9;
  --silver-sand: #bac2c2;
  --waikawa-grey: #2b426dba;
  --regent-grey: #7d8d9d;
  --lynch: #5D7389;
  --blue-bayoux: #192633d6;
  --mirage: #1e2637;
  --deep-cove: #06204652;
  --white: #fff;
  --fiord: #424a65;
  --falu-red: #771717;
  --monza: #C4081D;
  --black: #000;
  --perano: #374563;
  --jaguar: #0f0e2a;
  --tropaz: #2b5592;
  --lochinvar: #2b8992;
  --kumera: #92682b;
  --cancan: #dba0a0;
  --dark-tan: #711010;
}

/***************************************************/
/* GENERAL STYLES                                  */
/***************************************************/
html, body, #app, #app>div, root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 56px;
}

h5 {
  font-weight: 200;
  font-size: 1rem;
}

main {
  min-height: calc(100vh - 56px);
  background-color: var(--shark);
  color: var(--white);
}

main a,
main a:visited {
  color: var(--teal) !important;
  text-decoration: none !important;
}

main a:hover,
main a:active {
  color: var(--picton-blue) !important;
}

main a svg {
  margin-right: 6px;
}

.table {
  color: var(--white);
}

th {
  background-color: var(--st-tropaz) !important;
  color: var(--portage);
  letter-spacing: 1px;
}

tbody {
  border-color: var(--tuna);
}

.empty-list-text {
  text-align: center;
  color: var(--sirocco);
  padding-top: 30px;
}

.dropdown-menu.show {
  background-color: var(--regent-grey);
  max-height: 250px;
  overflow-y: hidden;
}

.dropdown-item {
  color: var(--black-pearl) !important;
}

.dropdown-item:hover,
.dropdown-item:active {
  color: var(--white) !important;
  background-color: var(--black-pearl);
}

.form-check-input {
  height: 16px;
  width: 16px;
}

.form-check-input:checked {
  background-color: var(--black-pearl);
  border-color: var(--black-pearl);
}

.form-check-inline {
  margin-right: 0.4rem;
}

.tooltip-inner {
  text-align: left!important;
}

/***************************************************/
/* CARD STYLES                                     */
/***************************************************/
.card {
  border-color: var(--black-pearl);
  border-radius: 5px;
}

.card-title {
  color: var(--white);
}

.card-body,
.card-body-console {
  border-radius: 4px;
  background-color: var(--blue-bayoux);
  display: flex;
  justify-content: space-between;
}


/***************************************************/
/* FORM STYLES                                  */
/***************************************************/
.modal-header, .modal-footer {
  background-color: var(--perano);
  color: var(--white);
  border-color: var(--mirage);
}

.error-container {
  border: 1px solid var(--dark-tan);
  border-radius: 8px;
  padding: 0.5rem;
  background-color: var(--cancan);
  margin-bottom: 16px;
}

.error-container p {
  padding: 0;
  margin: 0;
  color: var(--dark-tan);
}

/***************************************************/
/* ACCORDION STYLES                                  */
/***************************************************/

.accordion-item:first-of-type,
.accordion-item:last-of-type,
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button {
  border: none;
  border-radius: 0%;
}

.accordion-button, .accordion-item {
  background-color: var(--regent-grey);
  color: var(--black-pearl);
  border: none;
  border-radius: 0%;
}
.accordion-button:not(.collapsed) {
  background-color: var(--lynch);
  color: var(--white);
  border: none;
  border-radius: 0%;
  box-shadow: none;
}

.accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.modal-body, .accordion-body {
  background-color: var(--jaguar);
  color: var(--white);
}


/***************************************************/
/* BUTTON STYLES                                  */
/***************************************************/
.btn {
  max-height: 38px;
}
.btn-primary {
  background-color: var(--medium-purple);
  border-color: var(--medium-purple);
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--daisy-bush) !important;
  border-color: var(--daisy-bush) !important;
}

.btn-info {
  background-color: var(--portage);
  border-color: var(--portage);
  color: var(--white);
}

.btn-info:focus,
.btn-info:hover,
.btn-info:active {
  background-color: var(--moody-blue) !important;
  border-color: var(--moody-blue)  !important;
  color: var(--white) !important;
}

.btn:disabled {
  background-color: var(--sirocco);
  border-color: var(--sirocco);
}

/***************************************************/
/* MEDIA QUERIES FOR SM AND XS                     */
/***************************************************/
@media (max-width: 768px) {
  main {
    height: 100%;
  }

  h2 {
    font-size: 20px;
  }

  .row>*:not(:where(.col)) {
    padding: 0;
  }

  .form-row {
    padding: 0 calc(var(--bs-gutter-x) * .5);
  }

  .card-body-console {
    display:block;
  }

  .card-body-console footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


