/***************************************************/
/* THEME COLORS                                    */
/***************************************************/
:root {
  --portage: #97a4eb;
  --moody-blue: #7785d2;
  --medium-purple: #844bec;
  --daisy-bush: #52278a;
  --shark: #252529;
  --black-pearl: #061c32;
  --picton-blue: #35eaea;
  --teal: #008080;
  --st-tropaz: #27489230;
  --tuna: #353639;
  --sirocco: #7a7f7f;
  --edward: #a2a9a9;
  --waikawa-grey: #2b426dba;
  --regent-grey: #7d8d9d;
  --blue-bayoux: #192633d6;
  --white: #fff;
  --fiord: #424a65;
  --falu-red: #771717;
  --monza: #C4081D;
  --black: #000;
}

/***************************************************/
/* GENERAL STYLES                                  */
/***************************************************/
html, body, #app, #app>div, #root, .container {
  height: 100%
}

body {
  padding-top: 56px;
}

main {
  height: 100%;
  background-color: var(--shark);
  color: var(--white);
}

main a,
main a:visited {
  color: var(--teal) !important;
  text-decoration: none !important;
}

main a:hover,
main a:active {
  color: var(--picton-blue) !important;
}

main a svg {
  margin-right: 6px;
}

.table {
  color: var(--white);
}

th {
  background-color: var(--st-tropaz) !important;
  color: var(--portage);
  letter-spacing: 1px;
}

tbody {
  border-color: var(--tuna);
}

.empty-list-text {
  text-align: center;
  color: var(--sirocco);
  padding-top: 30px;
}

.dropdown-menu.show {
  background-color: var(--fiord);
}

.dropdown-item {
  color: var(--edward) !important;
}
.dropdown-item:hover,
.dropdown-item:active {
  color: var(--white) !important;
  background-color: var(--black-pearl);
}

/***************************************************/
/* CARD STYLES                                     */
/***************************************************/
.card {
  border-color: var(--black-pearl);
  border-radius: 5px;
}

.card-title {
  color: var(--white);
}

.card-body,
.card-body-console {
  border-radius: 4px;
  background-color: var(--blue-bayoux);
  display: flex;
  justify-content: space-between;
}


/***************************************************/
/* FORM STYLES                                  */
/***************************************************/
.modal-header, .modal-footer {
  background-color: var(--fiord);
  color: var(--white);
  border-color: var(--fiord);
}

.form-row {
  padding: 0 calc(var(--bs-gutter-x) * .5);
}

/***************************************************/
/* ACCORDION STYLES                                  */
/***************************************************/

.accordion-item:first-of-type,
.accordion-item:last-of-type,
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button {
  border: none;
  border-radius: 0%;
}

.accordion-button, .accordion-item {
  background-color: var(--regent-grey);
  color: var(--black-pearl);
  border: none;
  border-radius: 0%;
}
.accordion-button:not(.collapsed) {
  background-color: var(--black-pearl);
  color: var(--white);
  border: none;
  border-radius: 0%;
}

.modal-body, .accordion-body {
  background-color: var(--waikawa-grey);
  color: var(--white);
}


/***************************************************/
/* BUTTON STYLES                                  */
/***************************************************/
.btn {
  max-height: 38px;
}
.btn-primary {
  background-color: var(--medium-purple);
  border-color: var(--medium-purple);
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--daisy-bush) !important;
  border-color: var(--daisy-bush) !important;
}

.btn-info {
  background-color: var(--portage);
  border-color: var(--portage);
  color: var(--white);
}

.btn-info:focus,
.btn-info:hover,
.btn-info:active {
  background-color: var(--moody-blue) !important;
  border-color: var(--moody-blue)  !important;
  color: var(--white) !important;
}

/***************************************************/
/* MEDIA QUERIES FOR SM AND XS                     */
/***************************************************/
@media (max-width: 768px) {
  .row>*:not(:where(.col)) {
    padding: 0;
  }
  .card-body-console {
    display:block;
  }

  .card-body-console footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


